<!DOCTYPE html>

<html lang="en-us"
    xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="admin/header :: header"></head>

<body>

<!-- Header Start -->

<!-- Header Close -->
</div>
<!-- Slider Start -->
<section class="slider">
    <div class="welcome-message-row welcome-message-container container">
        <div class="row">
            <div class="col-lg-9 col-md-10">
                <div class="block">
                    <span class="welcome-message d-block mb-3 text-white text-capitalize">Welcome To <span class="q-style">Q</span>Rate <span class="q-style">-</span> Admin</span>

                    <!-- <h1 class="animated fadeInUp mb-5">Covering<br>Several <br>Topics</h1> -->
                    <!-- <a href="#"  class="btn-slider btn btn-main animated fadeInUp btn-round-full" aria-label="Get started">Check It Out<i class="btn-icon fa fa-angle-right ml-2"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section Intro Start -->

<!-- Section Intro END -->
<!-- Section About Start -->

<!-- Table for posts start -->
<div class="table-container">
    <h2>Manage Posts</small></h2>
    <div class="row">
        <div style="text-align: center; margin-left: 450px">
            <div class="form-group" >
                <form class="form-inline" th:action="@{/admin/posts/search}">
                    <div class="input-group">
                        <input type="text" placeholder="Search posts" class=" search-input" name="query" />
                        <span style="margin-left: 50px">
                            <button class="btn search-btn" type="submit" style="background-color: rgba(255, 140, 0, 0.7); border-radius: 6px"> Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Post Title</div>
            <div class="col col-2">Author</div>
            <div class="col col-3">Post Short Description</div>
            <div class="col col-4">Date Created</div>
            <div class="col col-5">Actions</div>
        </li>
        <li class="table-row" >
            <div class="col col-1" data-label="Job Id" >42235</div>
            <div class="col col-2" data-label="Customer Name" >John Doe</div>
            <div class="col col-3" data-label="Amount" >lorem ipsum</div>
            <div class="col col-4" data-label="Payment Status" >Pending</div>
            <div class="col col-5"  data-label="Payment Status" >
                <button class="btn btn-view btn-signup btn-round-full .btn-navbar">VIEW</button>
                <button class="btn btn-delete btn-round-full .btn-navbar">DELETE POST</button>


            </div>
        </li>
        <li class="table-row" th:each="post : ${posts}">
            <div class="col col-1" data-label="Job Id" th:text="${post.title}">42235</div>
            <div class="col col-2" data-label="Customer Name" th:text="${post.created_by.name}">John Doe</div>
            <div class="col col-3" data-label="Amount" th:text="${post.shortDescription}">lorem ipsum</div>
            <div class="col col-4" data-label="Payment Status" th:text="${#temporals.format(post.createdOn, 'dd MMMM yyyy')}">Pending</div>
            <div class="col col-5" data-label="Payment Status" >
                <a th:href="@{/users/posts/{postUrl}/view(postUrl=${post.url})}">
                    <button class="btn btn-view btn-signup btn-round-full .btn-navbar">VIEW</button>
                </a>
                <a th:href="@{/admin/posts/{postId}/delete(postId=${post.id})}">
                    <button  class="btn btn-delete btn-round-full .btn-navbar">DELETE POST</button>
                </a>

            </div>
        </li>
    </ul>
</div>
<!-- Table for posts end -->

<!-- section Counter End  -->
<!--  Section Services Start -->

<!--  Section Services End -->

<!-- Section Testimonial Start -->
<!-- Section Testimonial End -->

<!-- <section class="mt-70 position-relative">
	<div class="container">
		<div class="cta-block-2 bg-gray p-5 rounded border-1">
			<div class="row justify-content-center align-items-center ">
				<div class="col-lg-7">
					<span class="text-color">For Every type business</span>
					<h2 class="mt-2 mb-4 mb-lg-0">Entrust Your Project to Our Best Team of Professionals</h2>
				</div>
				<div class="col-lg-4">
					<a href="contact.html" class="btn btn-main btn-round-full float-lg-right ">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
</section> -->

<footer class="footer section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Company</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="about.html">Terms & Conditions</a></li>
                        <li><a href="about.html">Privacy Policy</a></li>
                        <li><a href="cobtact.html">Support</a></li>
                        <li><a href="cobtact.html">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Quick Links</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="about.html">About</a></li>
                        <li><a href="service.html">Services</a></li>
                        <li><a href="blog-grid.html">Blogs</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6 mx-auto">
              <div class="widget">
                <h4 class="text-capitalize mb-4">Subscribe Us</h4>
                <p>Subscribe to get latest news article and resources </p>

                <form action="#" class="sub-form">
                  <input type="text" class="form-control mb-3" placeholder="Subscribe Now ...">
                  <a href="#" class="btn btn-main btn-small">subscribe</a>
                </form>
              </div>
            </div> -->

            <!-- <div class="col-lg-3 col-sm-6">
              <div class="widget">
                <div class="logo mb-4">
                  <h3>Mega<span>kit.</span></h3>
                </div>
                <h6><a href="mailto:support@gmail.com">Support@megakit.com</a></h6>
                <a href="tel:+23-345-67890"><span class="text-color h4">+23-456-6588</span></a>
              </div>
            </div> -->
        </div>

        <div class="footer-btm pt-4">
            <div class="row">
                <div class="col-lg-6 text-left text-lg-right">
                    <!-- <ul class="list-inline footer-socials">
                      <li class="list-inline-item"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f mr-2"></i>Facebook</a></li>
                      <li class="list-inline-item"><a href="https://twitter.com/"><i class="fab fa-twitter mr-2"></i>Twitter</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</footer>

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
    <span class="icon fa fa-angle-up"></span>
</div>


<!--
Essential Scripts
=====================================-->
<!-- Main jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4.3.1 -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<!--  Magnific Popup-->
<script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<!-- Slick Slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- Counterup -->
<script src="plugins/counterup/jquery.waypoints.min.js"></script>
<script src="plugins/counterup/jquery.counterup.min.js"></script>

<!-- Google Map -->
<script th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU}" defer></script>
<script src="plugins/google-map/map.js" defer></script>

<script th:src="@{/js/script.js}"></script>

</body>

</html>
